<a href="https://colab.research.google.com/github/RealMyeong/Aiffel_Exploration/blob/main/EX_BS2_project13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

이전 스텝에서 배운 MF 모델 학습 방법을 토대로, 내가 좋아할 만한 영화 추천 시스템을 제작해 보겠습니다.

이번에 활용할 데이터셋은 추천 시스템의 MNIST라고 부를만한 Movielens 데이터입니다.

- 유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있습니다. MovieLens 1M Dataset 사용을 권장합니다.
- 별점 데이터는 대표적인 explicit 데이터입니다. 하지만 implicit 데이터로 간주하고 테스트해 볼 수 있습니다.
- 별점을 시청횟수로 해석해서 생각하겠습니다.
- 또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외하겠습니다.

In [1]:
!pip install implicit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: implicit in /usr/local/lib/python3.7/dist-packages (0.6.1)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from implicit) (4.64.0)
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.7/dist-packages (from implicit) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from implicit) (1.21.6)

In [2]:
import numpy as np
import scipy
import implicit

print(np.__version__)
print(scipy.__version__)
print(implicit.__version__)

1.21.6
1.7.3
0.6.1

1) 데이터 준비와 전처리
---
Movielens 데이터는 rating.dat 안에 이미 인덱싱까지 완료된 사용자-영화-평점 데이터가 깔끔하게 정리되어 있습니다.

In [3]:
import pandas as pd
rating_file_path='/content/drive/MyDrive/AIFFEL/EX/13.좋아하는 아티스트 찾기/project/data_movie/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [4]:
# 3점 이상만 남깁니다.
ratings_2 = ratings.copy()
ratings_2 = ratings_2[ratings_2['ratings']>=3]
filtered_data_size = len(ratings_2)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [5]:
ratings_2.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [6]:
ratings_2.rename(columns={'ratings':'counts'}, inplace=True)

In [7]:
ratings_2['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [8]:
ratings_2.head()

   user_id  movie_id  counts  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

timestamp는 필요 없을 것 같다.

In [9]:
use_columns = ['user_id', 'movie_id', 'counts']
ratings_2 = ratings_2[use_columns]
ratings_2.head()

   user_id  movie_id  counts
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [10]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path='/content/drive/MyDrive/AIFFEL/EX/13.좋아하는 아티스트 찾기/project/data_movie/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

영화 제목과 movie_id를 한 번에 보기 위해 데이터 합침

In [11]:
merge_data = pd.merge(ratings_2, movies, on='movie_id')

In [12]:
merge_data.tail()

,user_id,movie_id,counts,title,genre
836473,5851,3607,5,One Little Indian (1973),Comedy|Drama|Western
836474,5854,3026,4,Slaughterhouse (1987),Horror
836475,5854,690,3,"Promise, The (Versprechen, Das) (1994)",Romance
836476,5938,2909,4,"Five Wives, Three Secretaries and Me (1998)",Documentary
836477,5948,1360,5,Identification of a Woman (Identificazione di ...,Drama

In [13]:
all_data = merge_data.copy()

In [14]:
all_data.head()

   user_id  movie_id  counts                                   title  genre
0        1      1193       5  One Flew Over the Cuckoo's Nest (1975)  Drama
1        2      1193       5  One Flew Over the Cuckoo's Nest (1975)  Drama
2       12      1193       4  One Flew Over the Cuckoo's Nest (1975)  Drama
3       15      1193       4  One Flew Over the Cuckoo's Nest (1975)  Drama
4       17      1193       5  One Flew Over the Cuckoo's Nest (1975)  Drama

In [15]:
all_data.tail()

,user_id,movie_id,counts,title,genre
836473,5851,3607,5,One Little Indian (1973),Comedy|Drama|Western
836474,5854,3026,4,Slaughterhouse (1987),Horror
836475,5854,690,3,"Promise, The (Versprechen, Das) (1994)",Romance
836476,5938,2909,4,"Five Wives, Three Secretaries and Me (1998)",Documentary
836477,5948,1360,5,Identification of a Woman (Identificazione di ...,Drama

첫 번째 유저가 어떤 영화를 봤는지 확인

In [16]:
condition = (all_data['user_id']== all_data.loc[0, 'user_id'])
all_data.loc[condition]

,user_id,movie_id,counts,title,genre
0,1,1193,5,One Flew Over the Cuckoo's Nest (1975),Drama
1680,1,661,3,James and the Giant Peach (1996),Animation|Children's|Musical
2123,1,914,3,My Fair Lady (1964),Musical|Romance
2734,1,3408,4,Erin Brockovich (2000),Drama
3957,1,2355,5,"Bug's Life, A (1998)",Animation|Children's|Comedy
5556,1,1197,3,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
7808,1,1287,5,Ben-Hur (1959),Action|Adventure|Drama
8474,1,2804,5,"Christmas Story, A (1983)",Comedy|Drama
9764,1,594,4,Snow White and the Seven Dwarfs (1937),Animation|Children's|Musical
10471,1,919,4,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical
12121,1,595,5,Beauty and the Beast (1991),Animation|Children's|Musical
13081,1,938,4,Gigi (1958),Musical
13239,1,2398,4,Miracle on 34th Street (1947),Drama
13595,1,2918,4,Ferris Bueller's Day Off (1986),Comedy
15006,1,1035,5,"Sound of Music, The (1965)",Musical
15782,1,2791,4,Airplane! (1980),Comedy
17368,1,2687,3,Tarzan (1999),Animation|Children's
17757,1,2018,4,Bambi (1942),Animation|Children's
18285,1,3105,5,Awakenings (1990),Drama
18921,1,2797,4,Big (1988),Comedy|Fantasy
20307,1,2321,3,Pleasantville (1998),Comedy
21353,1,720,3,Wallace & Gromit: The Best of Aardman Animatio...,Animation
21777,1,1270,5,Back to the Future (1985),Comedy|Sci-Fi
24237,1,527,5,Schindler's List (1993),Drama|War
26494,1,2340,3,Meet Joe Black (1998),Romance
26760,1,48,5,Pocahontas (1995),Animation|Children's|Musical|Romance
27021,1,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
29123,1,1721,4,Titanic (1997),Drama|Romance
30393,1,1545,4,Ponette (1996),Drama
30461,1,745,3,"Close Shave, A (1995)",Animation|Comedy|Thriller
31113,1,2294,4,Antz (1998),Animation|Children's
31674,1,3186,4,"Girl, Interrupted (1999)",Drama
32044,1,1566,4,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical
32415,1,588,4,Aladdin (1992),Animation|Children's|Comedy|Musical
33643,1,1907,4,Mulan (1998),Animation|Children's
34086,1,783,4,"Hunchback of Notre Dame, The (1996)",Animation|Children's|Musical
34399,1,1836,5,"Last Days of Disco, The (1998)",Drama
34497,1,1022,5,Cinderella (1950),Animation|Children's|Musical
35022,1,2762,4,"Sixth Sense, The (1999)",Thriller
37407,1,150,5,Apollo 13 (1995),Drama
38620,1,1,5,Toy Story (1995),Animation|Children's|Comedy
40620,1,1961,5,Rain Man (1988),Drama
41904,1,1962,4,Driving Miss Daisy (1989),Drama
42515,1,2692,4,Run Lola Run (Lola rennt) (1998),Action|Crime|Romance
43536,1,260,4,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
46446,1,1028,5,Mary Poppins (1964),Children's|Comedy|Musical
47363,1,1029,5,Dumbo (1941),Animation|Children's|Musical
47879,1,1207,4,To Kill a Mockingbird (1962),Drama
48786,1,2028,5,Saving Private Ryan (1998),Action|Drama|War
51347,1,531,4,"Secret Garden, The (1993)",Children's|Drama
51656,1,3114,4,Toy Story 2 (1999),Animation|Children's|Comedy
53172,1,608,4,Fargo (1996),Crime|Drama|Thriller
55543,1,1246,4,Dead Poets Society (1989),Drama

## 데이터 분석

데이터 탐색
---
추천 모델을 만들기 전에 데이터의 기본적인 정보를 보고 갑시다. 아래 항목들을 확인해 보고 싶습니다.

- 유저 수, 영화 수, 인기 많은 영화
- 유저들이 몇 개의 영화를 보고 있는지에 대한 통계  
(참고) pandas.DataFrame.nunique()은 특정 컬럼에 포함된 유니크한 데이터의 개수를 알아보는데 유용합니다.

In [17]:
# 유저 수
a = all_data['user_id'].nunique()
# 영화 개수
b = all_data['title'].nunique()

print(f'총 유저 수 : {a}')
print(f'총 영화 개수 : {b}')

총 유저 수 : 6039
총 영화 개수 : 3628

In [18]:
all_data['user_id'].max()

6040

In [19]:
# 가장 인기가 많은 영화
m_count = all_data.groupby('title')['user_id'].count()
m_count.sort_values(ascending=False).head(30)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: user_id, dtype: int64

가장 인기있는 영화 30개를 뽑아보면 실제로 보지는 못했어도 이름은 들어본 근본 영화들이 많다.

In [20]:
# 유저 별 영화를 몇개정도 보는지
user_count = all_data.groupby('user_id')['title'].count()
user_count.describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: title, dtype: float64

각 유저마다 영화를 얼마나 보는지에 대해 봤는데 1968개를 본 사람은...?

## 선호하는 영화 5개 추가해보기

내가 마음에 드는 영화로 5개를 골라 기존의 데이터에 넣어준다.

In [21]:
# 영화 제목으로 장르 추출하는 함수
def get_genre_of_movie(my_favorite):
    genres_of_my_favorite = []
    for k, v in my_favorite.items():
        genres_of_my_favorite.extend(movies[movies['title'] == v]['genre'].to_list())
    return genres_of_my_favorite

In [22]:
# 영화 데이터 추가! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요.
my_favorite = {
    70: "From Dusk Till Dawn (1996)",
    164: "Devil in a Blue Dress (1995)",
    293: "Professional, The (a.k.a. Leon: The Professional) (1994)",
    426: "Body Snatchers (1993)",
    3476: "Jacob's Ladder (1990)",
}

# 6041이라는 user_id가 위 영화를 counts회씩 시청했다고 가정하겠습니다.
my_playlist = pd.DataFrame({
    'user_id': [6041]*5,
    'movie_id': my_favorite.keys(),
    'counts': [3,4,4,5,5],
    'title': my_favorite.values(),
    'genre': get_genre_of_movie(my_favorite)
})

if not all_data.isin({'user_id':[6041]})['user_id'].any():  # user_id에 6041이라는 데이터가 없다면
    all_data = all_data.append(my_playlist)  # my_favorite 데이터 추가

all_data.tail(10)  # 잘 추가되었는지 확인해 봅시다.

,user_id,movie_id,counts,title,genre
836473,5851,3607,5,One Little Indian (1973),Comedy|Drama|Western
836474,5854,3026,4,Slaughterhouse (1987),Horror
836475,5854,690,3,"Promise, The (Versprechen, Das) (1994)",Romance
836476,5938,2909,4,"Five Wives, Three Secretaries and Me (1998)",Documentary
836477,5948,1360,5,Identification of a Woman (Identificazione di ...,Drama
0,6041,70,3,From Dusk Till Dawn (1996),Action|Comedy|Crime|Horror|Thriller
1,6041,164,4,Devil in a Blue Dress (1995),Crime|Film-Noir|Mystery|Thriller
2,6041,293,4,"Professional, The (a.k.a. Leon: The Profession...",Crime|Drama|Romance|Thriller
3,6041,426,5,Body Snatchers (1993),Horror|Sci-Fi|Thriller
4,6041,3476,5,Jacob's Ladder (1990),Horror|Mystery|Thriller

- 한 영화에도 여러개의 genre가 섞여있는 영화가 있기 때문에 장르의 종류가 얼마나 되는지 리스트와 Counter를 이용해서 계산해줌

In [23]:
# from collections import Counter

# genre_list = []
# for i in all_data['genre']:
#   for j in range(len(i)):
#     genre_list.append(i[j])

# genre_count = Counter(genre_list)
# genre_count

In [24]:
# genre_count.keys()

총 장르의 종류는 18종류이다. 여러개의 장르가 섞여 있는 영화의 장르를 어떻게 표현 할까 생각하다가 처음에는 one-hot encoding으로 해볼까 라는 생각을 했지만 데이터가 너무 커질 것 같아서 애초에 영화를 만들 때 genre가 섞여서 만들어지기 때문에 각 장르마다 index를 부여

In [25]:
# genre_index = {'Drama': 1,
#          'Animation': 2,
#          "Children's": 3,
#          'Musical': 4,
#          'Romance': 5,
#          'Comedy': 6,
#          'Action': 7,
#          'Adventure': 8,
#          'Fantasy': 9,
#          'Sci-Fi': 10,
#          'War': 11,
#          'Thriller': 12,
#          'Crime': 13,
#          'Mystery': 14,
#          'Western': 15,
#          'Horror': 16,
#          'Film-Noir': 17,
#          'Documentary': 18}

# # 각 장르를 정해둔 인덱스값으로 바꿔줌
# for i in all_data['genre']:
#   for j in range(len(i)):
#     i[j] = genre_index[i[j]]

In [26]:
all_data.tail(20)

,user_id,movie_id,counts,title,genre
836463,5328,2438,4,Outside Ozona (1998),Drama|Thriller
836464,5334,3323,3,Chain of Fools (2000),Comedy|Crime
836465,5334,3382,5,Song of Freedom (1936),Drama
836466,5420,1843,3,Slappy and the Stinkers (1998),Children's|Comedy
836467,5433,286,3,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
836468,5494,3530,4,Smoking/No Smoking (1993),Comedy
836469,5556,2198,3,Modulations (1998),Documentary
836470,5949,2198,5,Modulations (1998),Documentary
836471,5675,2703,3,Broken Vessels (1998),Drama
836472,5717,2258,4,Master Ninja I (1984),Action
836473,5851,3607,5,One Little Indian (1973),Comedy|Drama|Western
836474,5854,3026,4,Slaughterhouse (1987),Horror
836475,5854,690,3,"Promise, The (Versprechen, Das) (1994)",Romance
836476,5938,2909,4,"Five Wives, Three Secretaries and Me (1998)",Documentary
836477,5948,1360,5,Identification of a Woman (Identificazione di ...,Drama
0,6041,70,3,From Dusk Till Dawn (1996),Action|Comedy|Crime|Horror|Thriller
1,6041,164,4,Devil in a Blue Dress (1995),Crime|Film-Noir|Mystery|Thriller
2,6041,293,4,"Professional, The (a.k.a. Leon: The Profession...",Crime|Drama|Romance|Thriller
3,6041,426,5,Body Snatchers (1993),Horror|Sci-Fi|Thriller
4,6041,3476,5,Jacob's Ladder (1990),Horror|Mystery|Thriller

In [27]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836483 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   836483 non-null  int64
 1   movie_id  836483 non-null  int64
 2   counts    836483 non-null  int64
 3   title     836483 non-null  object
 4   genre     836483 non-null  object
dtypes: int64(3), object(2)
memory usage: 38.3+ MB

각 장르가 하나의 숫자로 잘 바뀐것을 볼 수 있다.

모델에서 활용하기 위해 인덱싱 과정

In [28]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = all_data['user_id'].unique()
movie_unique = all_data['title'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [29]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print('user_id indexing: {}\n'.format(user_to_idx[6041]))

for k, v in my_favorite.items():
    print('movie_id indexing: {}'.format(movie_to_idx[v]))

user_id indexing: 6039

movie_id indexing: 1034
movie_id indexing: 864
movie_id indexing: 890
movie_id indexing: 2361
movie_id indexing: 279

In [30]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_all_data = all_data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_all_data) == len(all_data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    all_data['user_id'] = temp_user_all_data   # all_data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# movie_to_idx을 통해 movie 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
# temp_movie_all_data = all_data['movie_id'].map(movie_to_idx.get).dropna()
temp_movie_all_data = all_data['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_all_data) == len(all_data):
    print('movie column indexing OK!!')
    all_data['movie_id'] = temp_movie_all_data
else:
    print('movie column indexing Fail!!')

all_data.tail(10)

user_id column indexing OK!!
movie column indexing OK!!

,user_id,movie_id,counts,title,genre
836473,1621,3623,5,One Little Indian (1973),Comedy|Drama|Western
836474,3481,3624,4,Slaughterhouse (1987),Horror
836475,3481,3625,3,"Promise, The (Versprechen, Das) (1994)",Romance
836476,4159,3626,4,"Five Wives, Three Secretaries and Me (1998)",Documentary
836477,1648,3627,5,Identification of a Woman (Identificazione di ...,Drama
0,6039,1034,3,From Dusk Till Dawn (1996),Action|Comedy|Crime|Horror|Thriller
1,6039,864,4,Devil in a Blue Dress (1995),Crime|Film-Noir|Mystery|Thriller
2,6039,890,4,"Professional, The (a.k.a. Leon: The Profession...",Crime|Drama|Romance|Thriller
3,6039,2361,5,Body Snatchers (1993),Horror|Sci-Fi|Thriller
4,6039,279,5,Jacob's Ladder (1990),Horror|Mystery|Thriller

In [31]:
all_data.tail(10)

,user_id,movie_id,counts,title,genre
836473,1621,3623,5,One Little Indian (1973),Comedy|Drama|Western
836474,3481,3624,4,Slaughterhouse (1987),Horror
836475,3481,3625,3,"Promise, The (Versprechen, Das) (1994)",Romance
836476,4159,3626,4,"Five Wives, Three Secretaries and Me (1998)",Documentary
836477,1648,3627,5,Identification of a Woman (Identificazione di ...,Drama
0,6039,1034,3,From Dusk Till Dawn (1996),Action|Comedy|Crime|Horror|Thriller
1,6039,864,4,Devil in a Blue Dress (1995),Crime|Film-Noir|Mystery|Thriller
2,6039,890,4,"Professional, The (a.k.a. Leon: The Profession...",Crime|Drama|Romance|Thriller
3,6039,2361,5,Body Snatchers (1993),Horror|Sci-Fi|Thriller
4,6039,279,5,Jacob's Ladder (1990),Horror|Mystery|Thriller

In [32]:
all_data['movie_id'].nunique(), all_data['genre'].nunique()

(3628, 301)

~~영화의 제목으로 추천을 해주는 것 보다는 영화의 장르에 따라서 추천을 해주는 게 좋을 것 같음.
따라서 movie_id는 사용하지않고 genre만 사용~~

genre로 사용하려고 했는데 데이터가 너무 줄어버림 -> 아마 같은 장르지만 제목만 다른 영화들이 있어서 그런 것 같다. 크게 의미 없는 행동 이었던 걸로... ㅎㅎ

In [33]:
all_data.drop(['genre'], axis=1, inplace=True)

In [34]:
all_data.tail(10)

,user_id,movie_id,counts,title
836473,1621,3623,5,One Little Indian (1973)
836474,3481,3624,4,Slaughterhouse (1987)
836475,3481,3625,3,"Promise, The (Versprechen, Das) (1994)"
836476,4159,3626,4,"Five Wives, Three Secretaries and Me (1998)"
836477,1648,3627,5,Identification of a Woman (Identificazione di ...
0,6039,1034,3,From Dusk Till Dawn (1996)
1,6039,864,4,Devil in a Blue Dress (1995)
2,6039,890,4,"Professional, The (a.k.a. Leon: The Profession..."
3,6039,2361,5,Body Snatchers (1993)
4,6039,279,5,Jacob's Ladder (1990)

In [35]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836483 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   836483 non-null  int64
 1   movie_id  836483 non-null  int64
 2   counts    836483 non-null  int64
 3   title     836483 non-null  object
dtypes: int64(3), object(1)
memory usage: 31.9+ MB

In [36]:
all_data.isnull().sum()

user_id     0
movie_id    0
counts      0
title       0
dtype: int64

## CSR matrix 생성

In [37]:
from scipy.sparse import csr_matrix

num_user = all_data['user_id'].nunique()
num_movie = all_data['movie_id'].nunique()

csr_data = csr_matrix((all_data.counts, (all_data.user_id, all_data.movie_id)), shape = (num_user, num_movie))

In [38]:
csr_data.shape

(6040, 3628)

## MF 모델 학습하기

In [39]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

AlternatingLeastSquares 클래스의 __init__ 파라미터를 살펴보겠습니다.

1. factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지
2. regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지
3. use_gpu : GPU를 사용할 것인지
4. iterations : epochs와 같은 의미입니다. 데이터를 몇 번 반복해서 학습할 것인지  

1과 4를 늘릴수록 학습 데이터를 잘 학습하게 되지만 과적합의 우려가 있으니 좋은 값을 찾아야 합니다.

In [40]:
# implicit alternatingLeastSquares 모델 선언
als_model = AlternatingLeastSquares(factors=200, regularization=0.01, use_gpu=False, iterations=20, dtype=np.float32)

In [41]:
#als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [42]:
#모델 훈련
als_model.fit(csr_data)

  0%|          | 0/20 [00:00<?, ?it/s]

## 영화의 선호도 예측

In [43]:
user = user_to_idx[6041]
user_vector = als_model.user_factors[user]
user_vector

array([-3.58635157e-01, -2.30420768e-01, -2.23755330e-01,  5.07999897e-01,
        2.05090493e-01,  5.43885026e-03, -1.11529104e-01, -6.52697027e-01,
       -1.41748875e-01,  1.80312321e-01, -6.76423132e-01, -5.60070090e-02,
       -6.03624523e-01,  2.04060316e-01,  2.67539680e-01,  3.87154400e-01,
       -3.79003346e-01, -7.02822328e-01,  4.29998577e-01,  5.88361323e-01,
       -9.18122903e-02, -4.17757407e-02,  4.49920833e-01,  2.63408780e-01,
        6.81922585e-02,  3.84306312e-01,  4.22169417e-01,  6.08847737e-01,
        4.57840383e-01,  2.06231579e-01, -1.44827679e-01,  1.86764970e-01,
        1.58368930e-01,  5.85599065e-01,  4.89072919e-01,  3.42123300e-01,
        2.92201228e-02, -5.76993711e-02, -4.65202421e-01, -2.57920116e-01,
       -1.89551711e-01,  7.70712972e-01,  4.87679094e-01,  3.27985257e-01,
       -7.36922994e-02,  3.00199632e-02, -4.43425119e-01,  1.33759886e-01,
        1.51406124e-01, -6.47950351e-01,  6.02377772e-01,  8.68232325e-02,
       -4.17043716e-01, -2.83000618e-01, -4.94753383e-02, -2.27612451e-01,
       -1.41379654e-01, -1.51299968e-01, -1.37839764e-01, -1.44531950e-01,
        1.42086698e-02,  2.12269202e-01, -1.38115481e-01, -8.29268813e-01,
        1.12680919e-01, -1.45426705e-01, -3.03058475e-01,  6.97107852e-01,
       -1.67501092e-01,  6.82786629e-02, -6.05710521e-02,  1.65839389e-01,
       -7.97543451e-02,  2.87043471e-02,  3.29632699e-01, -1.05228133e-01,
        4.13573198e-02, -4.86085892e-01,  9.95206088e-02, -1.19254959e+00,
       -9.33525264e-02, -4.95383620e-01, -2.51558661e-01,  6.38806880e-01,
        1.49174538e-02,  5.61638415e-01, -1.43188685e-01,  7.70069182e-01,
       -6.77417517e-02,  1.48541749e-01, -8.34214509e-01, -3.50305378e-01,
       -1.76988453e-01,  1.54267130e-02,  3.36978585e-02,  1.75572708e-02,
        4.28369373e-01,  4.31475937e-01, -6.07022524e-01, -4.84019905e-01,
       -3.45352918e-01, -4.23102379e-01,  1.66779727e-01, -2.53632635e-01,
        4.44332600e-01,  1.06277466e-01, -4.95177731e-02, -5.15133142e-01,
       -4.08972889e-01, -9.12143383e-03,  2.73296565e-01, -5.02900004e-01,
       -6.43297076e-01, -2.38363594e-02,  7.23548710e-01, -3.01024884e-01,
        4.65647727e-01,  3.75138819e-01,  1.28021687e-01, -2.49493942e-01,
       -4.53906775e-01, -6.21817186e-02,  1.65477782e-01, -5.66228814e-02,
       -4.30983633e-01,  3.69664967e-01, -1.66988254e-01,  4.62448269e-01,
        3.80621105e-01,  2.43382290e-01, -3.68867099e-01, -5.58820926e-02,
        3.61049503e-01, -3.29923868e-01,  2.42794111e-01,  3.54951560e-01,
       -2.10103914e-04, -3.69410738e-02, -2.13292409e-02,  3.80504489e-01,
       -4.04155031e-02,  1.64464474e-01,  3.33555162e-01, -1.41255498e-01,
       -1.30183250e-01,  3.74318272e-01, -6.98944390e-01, -5.56849301e-01,
       -1.60061494e-01,  6.33180022e-01, -5.43910116e-02,  4.79760110e-01,
       -5.69919646e-01,  4.89756614e-02,  2.72325695e-01, -1.77632142e-02,
       -1.75145511e-02,  1.68815672e-01,  1.58312201e-01, -1.88871380e-02,
        1.19374096e-01,  1.28654772e-02, -1.50335267e-01, -4.43096399e-01,
        1.60844341e-01,  3.53906080e-02, -2.83247709e-01,  9.37851816e-02,
        1.07064188e-01,  1.64404824e-01,  3.17650318e-01,  4.98099536e-01,
        1.97984353e-01, -1.97995007e-02,  7.20534742e-01, -1.39713585e-01,
        5.69186926e-01,  1.00911893e-01, -1.23100519e-01, -1.84381351e-01,
        1.92364410e-01, -3.75624686e-01,  3.61650676e-01, -3.27540040e-02,
       -3.93431723e-01,  3.26169074e-01,  2.17009574e-01, -1.54716864e-01,
       -1.09351464e-01, -1.97003394e-01, -1.59307286e-01, -1.37618199e-01,
        5.23888581e-02,  7.31059492e-01, -1.78366408e-01, -2.31853098e-01,
        3.04590408e-02,  1.88853920e-01,  2.66318113e-01, -4.66405839e-01],
      dtype=float32)

In [44]:
star_wars_epi_4 = movie_to_idx['Star Wars: Episode IV - A New Hope (1977)']
star_wars_epi_4_vector = als_model.item_factors[star_wars_epi_4]
star_wars_epi_4_vector  # 영화 벡터

array([ 3.69643942e-02, -1.33783184e-02,  1.30297402e-02, -2.18583904e-02,
        2.60371007e-02, -6.70848507e-03,  5.13088284e-03, -2.39761528e-02,
       -8.15320294e-03,  8.66318773e-03,  4.13981266e-02,  2.24568937e-02,
       -2.18061004e-02,  8.37593060e-03, -2.97900033e-03,  1.88477244e-02,
       -1.19465571e-02,  8.01936816e-03,  2.23685112e-02,  2.41048839e-02,
       -1.34804647e-03,  3.99642065e-02,  7.62677100e-03,  2.41736900e-02,
       -2.48665493e-02, -1.66609825e-03,  1.55024733e-02, -8.01916886e-03,
        2.47087050e-02, -2.20886301e-02,  2.80129258e-02, -5.22466656e-03,
       -3.06047089e-02,  1.80803072e-02,  1.40398005e-02, -1.33491792e-02,
       -1.63455047e-02, -1.15277879e-02,  8.97113886e-03, -9.03999340e-03,
        2.28786021e-02, -2.35637440e-03,  2.79036500e-02,  2.29201298e-02,
       -2.19189189e-02, -8.25787801e-03,  2.11426467e-02,  4.08543274e-02,
        3.79125308e-03,  7.13006244e-04, -6.61121635e-03,  6.18836749e-03,
       -7.73954438e-04, -3.05648963e-03, -1.91151034e-02,  9.19169374e-03,
        9.87687241e-03,  5.25679998e-03, -1.66890919e-02,  1.82595439e-02,
        1.17624626e-02, -9.17368196e-03,  9.35405679e-03, -1.31578129e-02,
       -2.98634695e-04, -6.69308472e-03,  3.03720590e-02, -7.66917784e-03,
        2.41607334e-02,  4.58857091e-03,  2.12877411e-02,  1.47024775e-02,
        1.44927688e-02, -1.77135114e-02,  1.78688448e-02, -1.50025953e-02,
       -1.27858215e-03,  1.91094186e-02,  1.07465005e-02, -3.69568705e-04,
       -1.38530489e-02,  1.33087113e-02, -1.19002843e-02,  4.06691944e-03,
        1.22639667e-02, -8.34091660e-03,  1.71904471e-02, -3.44714290e-03,
       -1.96397826e-02,  1.21479901e-02,  3.13595273e-02,  1.66914752e-03,
       -2.35507097e-02,  1.34316422e-02, -9.10841918e-04, -1.82131899e-03,
        8.38900078e-03, -1.68377049e-02, -2.82677333e-03, -4.17225668e-03,
        1.80044267e-02,  1.04620988e-02,  1.94148049e-02, -2.09671408e-02,
        2.55872775e-02,  1.26081770e-02, -1.13587575e-02,  8.68844800e-03,
        3.24699096e-02,  9.16604046e-03,  2.51052971e-03,  4.95989993e-02,
        2.18365155e-02, -1.12408856e-02,  1.64083559e-02, -2.17950647e-03,
        1.89132392e-02,  1.88166387e-02, -2.05641650e-02,  1.29824653e-02,
        1.12190954e-02,  2.27672290e-02, -2.54522189e-02,  7.44847115e-03,
        3.45288441e-02, -1.05484836e-02, -5.67813963e-03, -9.39098652e-03,
       -5.00271004e-03,  1.12390975e-02,  8.13203951e-05,  9.33552813e-03,
        4.73215524e-03, -8.51269718e-03, -1.13031417e-02,  2.34948825e-02,
        2.32386473e-03,  1.88654783e-04,  1.56542845e-02, -1.49712693e-02,
       -7.09933927e-03,  2.63165869e-02,  2.21565110e-03, -1.34601863e-02,
       -1.30466083e-02,  2.74854209e-02,  3.35385501e-02, -9.53262032e-04,
        2.37950636e-03,  2.49604508e-02,  1.22257124e-03, -8.06445070e-03,
        1.71746518e-02, -2.37847064e-02, -1.44792162e-02,  6.77465345e-04,
       -1.24585526e-02,  3.11836191e-02, -1.08313514e-02,  2.61317939e-02,
        8.94742832e-03, -7.01907184e-03,  2.84606703e-02, -1.40247922e-02,
        1.57264415e-02, -2.49241777e-02,  1.27388882e-02,  1.77797452e-02,
       -1.44669916e-02,  1.17507530e-02, -1.77117717e-03,  2.83034127e-02,
        2.38209907e-02,  3.97511050e-02, -1.27326464e-02, -3.12816957e-03,
        2.16793288e-02,  6.98393676e-03,  1.02645000e-02,  1.36325452e-02,
       -3.98469623e-03,  5.08210761e-03,  2.04592329e-02, -2.90528848e-03,
        1.45540130e-03,  1.16265463e-02,  2.22889241e-02,  7.68798310e-03,
       -1.25026116e-02,  2.87498366e-02, -1.12944264e-02,  1.82600208e-02,
        2.29133647e-02,  1.00843022e-02,  2.09068526e-02, -2.43675951e-02,
        1.55627979e-02,  2.83999555e-03,  1.58596262e-02, -1.72718875e-02],
      dtype=float32)

In [45]:
dusk_till_dawn = movie_to_idx["From Dusk Till Dawn (1996)"]
dusk_till_dawn_vector = als_model.item_factors[dusk_till_dawn]
dusk_till_dawn_vector

array([-1.12658292e-02, -2.84365332e-03, -2.98787700e-03,  2.00058185e-02,
        2.89800353e-02,  4.01085801e-03,  1.25455158e-02, -2.24686470e-02,
       -1.60430353e-02, -6.28326554e-03,  2.94677857e-02,  9.86311398e-03,
        1.55198071e-02,  2.06756126e-02,  2.09162962e-02,  9.59440321e-03,
        7.40755908e-03, -1.83186140e-02,  1.21939844e-02,  1.15832379e-02,
        5.01753949e-03,  7.13981735e-03,  1.30805559e-03,  2.94336248e-02,
        3.31746857e-03,  3.82430181e-02,  8.28397460e-03,  3.04914825e-02,
        2.99152415e-02,  1.14646507e-02, -2.88501778e-03, -1.27945486e-02,
        1.22107603e-02, -4.22668410e-03, -7.25865318e-03,  5.48434258e-03,
        1.86610911e-02, -9.94420145e-03, -6.71215868e-03,  6.37407822e-04,
        5.84975630e-03,  2.31185760e-02,  9.24287923e-03,  1.11538768e-02,
       -1.10897087e-02, -4.69422527e-03,  1.59660764e-02,  1.29574612e-02,
        5.74490335e-03, -7.39995157e-03,  1.26220463e-02, -4.67847148e-03,
        1.22902147e-03,  1.11665893e-02,  1.19928587e-02,  1.76471192e-02,
        2.49114889e-03, -2.54177605e-03,  1.01263225e-02, -4.39892430e-03,
        4.53581894e-03, -1.32334437e-02,  9.41373035e-03, -1.96543243e-03,
        1.27101764e-02, -5.08454954e-03,  3.06046073e-04,  3.02353408e-02,
        5.97828813e-03,  2.13542301e-02, -9.00279637e-03, -1.70935411e-02,
        3.10221575e-02,  1.01630036e-02, -1.33461757e-02, -6.15386991e-03,
        9.26413690e-04,  8.21884256e-03,  4.00806405e-03, -1.68949587e-03,
       -1.52312769e-02, -8.82530212e-03, -3.11129098e-03,  3.47833335e-02,
       -9.52477939e-03,  1.80550963e-02, -7.91471545e-03,  8.56321584e-03,
        1.06398296e-02,  1.75968595e-02,  1.25096540e-03, -1.43834052e-03,
       -2.13564206e-02,  1.16307121e-02,  3.78779764e-03,  2.19857204e-03,
       -2.34866911e-03, -4.09616594e-04, -2.05328763e-02, -1.78753305e-02,
        1.60244395e-04, -2.07502935e-02,  1.47268260e-02,  9.99893714e-03,
        1.33545911e-02, -4.72702878e-03,  1.47508243e-02, -1.45117147e-02,
       -5.42808929e-03,  3.71452072e-03,  9.74290445e-03,  8.47330375e-04,
        2.29041874e-02,  1.12559309e-03,  1.37148390e-05,  2.07931194e-02,
        2.03614831e-02, -1.81023160e-03,  1.71546619e-02,  1.03286486e-02,
       -5.59052499e-03, -5.24387555e-03,  3.21758054e-02, -4.71629156e-03,
        6.70083216e-04,  1.04946131e-02,  1.01203248e-02,  6.55209646e-03,
        2.63537522e-02,  1.04458965e-02, -6.58926647e-03, -9.62734316e-03,
        2.87422794e-04, -3.86707415e-03,  2.82727610e-02,  1.09045384e-02,
        2.16639545e-02,  1.01649500e-02,  2.99488544e-03,  2.59247124e-02,
        3.07620899e-03, -3.73982475e-04, -4.80522355e-03,  1.09278010e-02,
        2.39258306e-03,  1.91413574e-02, -3.28471907e-03,  7.44496752e-03,
       -4.87747137e-03,  2.26830989e-02,  5.20083029e-03,  1.61857642e-02,
       -6.37425063e-03,  9.69982333e-03, -9.93256271e-03,  2.46507418e-03,
       -4.20896988e-03, -1.95943285e-02,  3.04248650e-02,  7.33595621e-03,
        9.11093503e-03, -6.44104788e-03, -1.38717508e-02,  5.97709045e-03,
        1.23315223e-03,  8.79215542e-03,  5.86084835e-03, -1.53471259e-02,
        3.31473760e-02,  5.82444249e-03,  1.60504766e-02,  4.21689544e-03,
        2.07554493e-02, -2.01193988e-03,  2.38908324e-02,  1.83461350e-03,
       -4.26890701e-03,  3.13711539e-03, -3.13310847e-02, -3.65389045e-03,
        2.63080560e-03, -1.40021984e-02,  2.56299949e-03,  9.82086640e-03,
       -3.06488993e-03,  1.50987720e-02,  3.61939892e-02,  9.28876176e-03,
        2.99189333e-03,  6.76114904e-03, -3.93000199e-03,  1.94385007e-03,
        2.14428753e-02,  1.30517595e-02,  4.74001933e-03, -8.77157692e-03,
        7.90879317e-03,  1.24219817e-03, -5.69704920e-03, -4.53651138e-03],
      dtype=float32)

- 싫어하는 영화와의 예측 선호도

In [46]:
np.dot(user_vector, star_wars_epi_4_vector)

-0.006428417

- 좋아하는 영화와의 예측 선호도

In [47]:
np.dot(user_vector, dusk_till_dawn_vector)

0.3634861

좋아한다고 넣은 영환데 0.34밖에 나오지 않음...

## 좋아하는 영화와 비슷한 영화 추천받기

In [48]:
favorite_movie = "From Dusk Till Dawn (1996)"
movie_title = movie_to_idx[favorite_movie]
similar_movies = als_model.similar_items(movie_title, N=15)
similar_movies

(array([1034,  174, 1697, 1008, 1748, 2617,  999, 2610, 1615, 1794, 1666,
        1087, 1602, 1303, 1779], dtype=int32),
 array([0.99999994, 0.40837342, 0.39990118, 0.39337528, 0.39330828,
        0.3874942 , 0.38550118, 0.3844889 , 0.3829664 , 0.3772606 ,
        0.37411347, 0.372526  , 0.37151265, 0.37040624, 0.36901498],
       dtype=float32))

In [49]:
similar_movies[0]

array([1034,  174, 1697, 1008, 1748, 2617,  999, 2610, 1615, 1794, 1666,
       1087, 1602, 1303, 1779], dtype=int32)

In [50]:
# movie_to_idx 를 뒤집어, index로부터 movie 이름을 얻는 dict를 생성합니다. 
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
similar = [idx_to_movie[i] for i in similar_movies[0]]

좋아하는 영화와 비슷한 영화들의 title과 유사도

In [51]:
score = [i for i in similar_movies[1]]
pd.DataFrame({'movie': similar, 'similar_score' : score})

                                                movie  similar_score
0                          From Dusk Till Dawn (1996)       1.000000
1                                        Blade (1998)       0.408373
2                                     Vampires (1998)       0.399901
3                          Tales from the Hood (1995)       0.393375
4                                Prophecy, The (1995)       0.393308
5   Tales from the Crypt Presents: Bordello of Blo...       0.387494
6                  Evil Dead II (Dead By Dawn) (1987)       0.385501
7                                     Candyman (1992)       0.384489
8        Halloween: The Curse of Michael Myers (1995)       0.382966
9                     Hellbound: Hellraiser II (1988)       0.377261
10                            Frighteners, The (1996)       0.374113
11                                  Hellraiser (1987)       0.372526
12          Freddy's Dead: The Final Nightmare (1991)       0.371513
13                            King of New York (1990)       0.370406
14              American Werewolf in Paris, An (1997)       0.369015

유사한 영화들과 그에 대한 유사도를 dataframe으로 출력하는 함수 생성

In [52]:
def get_similar_movie(movie_name: str):
    movie_title = movie_to_idx[movie_name]
    similar_movie = als_model.similar_items(movie_title, N=15)
    similar_movie = [idx_to_movie[i] for i in similar_movies[0]]
    similar_score = [i for i in similar_movies[1]]
    df = pd.DataFrame({'movie' : similar_movie, 'similar_score' : similar_score})
    return df

In [53]:
get_similar_movie('Deep Impact (1998)')

                                                movie  similar_score
0                          From Dusk Till Dawn (1996)       1.000000
1                                        Blade (1998)       0.408373
2                                     Vampires (1998)       0.399901
3                          Tales from the Hood (1995)       0.393375
4                                Prophecy, The (1995)       0.393308
5   Tales from the Crypt Presents: Bordello of Blo...       0.387494
6                  Evil Dead II (Dead By Dawn) (1987)       0.385501
7                                     Candyman (1992)       0.384489
8        Halloween: The Curse of Michael Myers (1995)       0.382966
9                     Hellbound: Hellraiser II (1988)       0.377261
10                            Frighteners, The (1996)       0.374113
11                                  Hellraiser (1987)       0.372526
12          Freddy's Dead: The Final Nightmare (1991)       0.371513
13                            King of New York (1990)       0.370406
14              American Werewolf in Paris, An (1997)       0.369015

## 내가 좋아할만한 영화 추천받기

In [54]:
user = user_to_idx[6041]
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data[user], N=20, filter_already_liked_items=True)
movie_recommended

(array([1090,  831,  855,  440, 1107,  997,  456, 1368,  174,  919,  299,
         136, 1709,  839, 1486,  316,   72, 1433, 1078,  707], dtype=int32),
 array([0.26042938, 0.25216436, 0.23136052, 0.21639954, 0.20032561,
        0.19193426, 0.1882608 , 0.1881172 , 0.17100796, 0.16434093,
        0.16412285, 0.14864099, 0.14137608, 0.13760872, 0.13652024,
        0.13517219, 0.13495237, 0.13401255, 0.13301285, 0.13284689],
       dtype=float32))

추천 영화와 점수 확인

In [55]:
recommended = [idx_to_movie[i] for i in movie_recommended[0]]
score = [i for i in movie_recommended[1]]
pd.DataFrame({'movie': recommended, 'score' : score})

                                        movie     score
0             Nikita (La Femme Nikita) (1990)  0.260429
1                Devil's Advocate, The (1997)  0.252164
2                        Grifters, The (1990)  0.231361
3                         True Romance (1993)  0.216400
4                      Rosemary's Baby (1968)  0.200326
5                               Scream (1996)  0.191934
6                        Arachnophobia (1990)  0.188261
7   Henry: Portrait of a Serial Killer (1990)  0.188117
8                                Blade (1998)  0.171008
9                     Mulholland Falls (1996)  0.164341
10                        Mariachi, El (1992)  0.164123
11                           Desperado (1995)  0.148641
12                       Thin Man, The (1934)  0.141376
13                         Wild Things (1998)  0.137609
14                         Angel Heart (1987)  0.136520
15                              Misery (1990)  0.135172
16                    Fisher King, The (1991)  0.134952
17                           Lone Star (1996)  0.134013
18                          Serial Mom (1994)  0.133013
19                          Sting, The (1973)  0.132847

In [56]:
item_movie = movie_to_idx['Kansas City (1996)']
explain = als_model.explain(user, csr_data, itemid=item_movie)

In [57]:
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[("Jacob's Ladder (1990)", 0.008132915839490006),
 ('Devil in a Blue Dress (1995)', 0.007996980021819469),
 ('Body Snatchers (1993)', 0.0070245968214670395),
 ('From Dusk Till Dawn (1996)', 0.003459319406466598),
 ('Professional, The (a.k.a. Leon: The Professional) (1994)',
  -0.015398545089461497)]

## 회고

이번 EX는 진행할 때 Implicit 패키지의 버전이 LMS랑 맞지가 않아서 오류가 엄청 많이 떴다.  
진행 하면서 혈압이 너무 올랐는데 공식문서 살펴보면서 하다보니까 끝까지 진행은 다 했다.  
근데 은근 유사도나 추천 정도(?)가 너무 낮아서 왜 그런지가 조금 의아하긴 하다. 특별한 전처리를 할 것도 없어 보이는데..허허  
그리고 이번 MF모델을 이용할 때 그냥 user_id, movie_id, ratings자료만 사용했는데 영화의 genre도 한 번 사용해보고 싶어서 어떻게 쓸 방법이 없나? 하면서 이것저것 찾아봤다.  
genre를 정수로 바꿔보기도 하고 전처리를 했는데 이거를 이용할 수 있는 방법이 생각이 나질 않아서 결국 쓰지는 못했다... 분명히 찾아보면 방법이 있을 것이지만 그거는 나중에 공부하면서 알아보도록 하자고 다짐하면서 배운 방법으로만 진행을 했다.  
방학 기간이나 주말에 혼자서라도 kaggle notebook에서 감성 분석을 통한 추천이나 다른 방법들을 이용한 추천모델을 필사를 하면서 공부 해보고 다른 데이터로도 한 번 만들어 봐야겠다!

- 참고  
https://benfred.github.io/implicit/tutorial_lastfm.html