<a href="https://colab.research.google.com/github/RealMyeong/Aiffel_DataThon/blob/main/8/baekjoon_0808.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#백준 2444 별 찍기 -7
N = int(input())
for i in range(1, 2*N):
  if i <= N:
    print(' '*(N-i)+'*'*(2*i-1))
  else:
    print(' '*(i-N)+'*'*(2*(2*N-i)-1))

6
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
#백준 2522 별 찍기 - 12
N = int(input())
for i in range(1, 2*N):
  if i <= N:
    print(' '*(N-i)+'*'*(i))
  else:
    print(' '*(i-N)+'*'*(2*N-i))

5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [ ]:
#백준 2523 별 찍기 - 13
N = int(input())
for i in range(1, 2*N):
  if i <= N:
    print('*'*i)
  else:
    print('*'*(2*N-i))

3
*
**
***
**
*

In [1]:
#백준 9325 얼마?
T = int(input())
for i in range(T):
  price = int(input())
  option_n = int(input())
  add_price = 0
  for j in range(option_n):
    o_n , o_p = map(int, input().split())
    add_price += o_p * o_n
  total_price = price + add_price
  print(total_price)

2
10000
2
1 2000
3 400
13200
50000
0
50000